<!DOCTYPE html>
<html>
<head>
    {% include 'eZDemoBundle::page_head_displaystyles.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% include 'eZDemoBundle::page_head.html.twig' %}
    {% include 'eZDemoBundle::page_head_style.html.twig' %}

    <style>
        .hover {
            border: 1px dashed green; 
        }
    </style>

    <script src="{{asset('bundles/ezjsfun/js/libs/requirejs/require.js')}}"></script>
    <script src="{{asset('bundles/ezjsfun/js/config.js')}}"></script>
    <script>require(['main']);</script>

{#
    <script src="{{asset('bundles/ezjsfun/js/libs/jquery/jquery.js')}}"></script>
    <script src="{{asset('bundles/ezjsfun/js/hackety.js')}}"></script>
#}
</head>
<body>
<!-- Complete page area: START -->
<div id="page">
    <div class="navbar main-navi">
        {% block topMenu %}
            {{ render( controller( "eZDemoBundle:Demo:topMenu", {'locationId': 2, 'excludeContentTypes': [ 'article' ]} ), {'strategy': 'esi'} ) }}
        {% endblock %}
    </div>
    <div class="container" id="app-container">
    </div>
</div>
</body>
</html>
